@media screen and (max-width:440px) {
    body {
        background-color: azure;
    }
    #app {
        height: 100vh;
        width:100%;
        border: 4px solid rgb(236, 145, 145);
        border-radius: 15px;
        background-color: rgb(245, 167, 167);
        text-align: center;
        margin:0 auto;
    }
    form {
        height: 100%;
        width: 100%;
    }
    input[type=text] {
        width: 85%;
        height:25%;
        padding:5px;
        background-color:rgba(143, 234, 250, 0.877);
        color: white;
        padding:15px;
        text-align:right;
        font-size: 50px;
        border:0;
    }
    input[type=button] {
        width:22%;
        cursor: pointer;
        font-size:25px;
        color:white;
        background-color:grey;
        padding:25px;
        margin:3px;
        margin-top: 10px;
        border:0;
        border-radius:100%;
        box-shadow: 5px 7px rgba(0,0,0,0.5);
    }
    #reiniciar, #igual {
        background-color:white;
        color:black;
    }
    .signos {
        background-color:rgb(255, 0, 98) !important;
    }
    input[type=button]:active {
        transform: translateY(10px);
        box-shadow: 0px 0px 10px 1px black;
        background-color:rgb(45, 80, 114);
    }
    .cabezal {
        padding:20px;
        margin-bottom: 30px;
    }
    #resultado {
        font-size: 70px;
    }
    #calculo {
        border-top-left-radius:15px;
        border-top-right-radius:15px;
    }
    #resultado {
        border-bottom-left-radius:15px;
        border-bottom-right-radius:15px;
    }

    
}
@media screen and (min-width:440px) {
    body {
        background-image: url("../img/fondoCalculadora.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        /* Se adapta al ancho de la pantalla(cover) */
        background-size: cover;
    }
    #app {
        height: 650px;
        width:580px;
        border: 8px solid  rgb(255, 255, 98);
        border-radius: 15px;
        background-color: rgb(175, 247, 160);
      text-align: center;
      margin:0 auto;
      margin-top:30px;
      box-shadow: 5px 10px 5px 5px rgba(0,0,0,0.6);
    }
    form {
        height: 100%;
        width: 100%;
    }
    input[type=text] {
        width: 90%;
        height:25%;
        padding:5px;
        background-color:rgb(117, 125, 247);
        color: white;
        padding:15px;
        text-align:right;
        font-size: 50px;
        border:0;
    }
    input[type=button] {
        width:22%;
        cursor: pointer;
        font-size:25px;
        color:white;
        background-color:rgb(138, 180, 219);
        padding:28px;
        margin:6px;
        border:0;
        border-radius:100%;
        box-shadow: 5px 7px rgba(0,0,0,0.5);
    }
    #reiniciar, #igual {
        background-color:rgb(255, 255, 255);
        color:black;
    }
    .signos {
        background-color:rgb(29, 77, 116) !important;
    }
    input[type=button]:active {
        transform: translateY(8px);
        box-shadow: 0px 0px 10px 1px black;
        background-color:rgb(45, 80, 114);
    }
    .cabezal {
        padding:20px;
    }
    #resultado {
        font-size: 70px;
    }
    #calculo {
        border-top-left-radius:15px;
        border-top-right-radius:15px;
    }
    #resultado {
        border-bottom-left-radius:15px;
        border-bottom-right-radius:15px;
    }

    
}
